body {
    font-family: Arial, sans-serif;
    background-color: #f2f9ff;
}

.container {
    width: 500px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

h2 {
    color: #007bff;
}
